.tela {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin: auto auto;
    border: 2px solid #cecece;
    border-bottom: 20px solid rgb(95, 24, 24);
    background: linear-gradient(#55badb, white)
}

.cano {
    width: 80px;
    position: absolute;
    bottom: 0;
    right: -10%;
    animation: animacao-cano 3s linear infinite;
    overflow: hidden;
}

.nuvens {
    width: 300px;
    position: absolute;
    margin-top: 20px;
    right: -50%;
    animation: animacao-nuvens 12s linear infinite;
    overflow: hidden;
}

#game-over-container {
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 100px
}

p {
    font-size: 2rem;
    color: red;
}

.mario {
    width: 130px;
    position: absolute;
    bottom: 0;
    bottom: 0px;
    left: 50px;
}

.pulo {
    animation: pulo 800ms ease-out;
}

@keyframes pulo {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 160px;
    }

    50% {
        bottom: 160px;
    }

    60% {
        bottom: 160px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes animacao-cano {
    0% {
        right: -10%;
    }

    100% {
        right: 100%;
    }
}

@keyframes animacao-nuvens {
    0% {
        right: -50%;
    }

    100% {
        right: 100%;
    }
}